
nav{
  background-color: #F7F7F7;
  ul{
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    color: #F7F7F7;;
    margin: 0;
    padding: 20px 0;
    .current{
    background-color: #FFFFFF;
      border-radius: 10px;
  }
    li{

      background-color: #F7F7F7;
      list-style: none;
      padding: 10px;
      margin: 0 15px;
      font-size: rem(18);
      color: #5D6568;

    }
  }
}


h1{
  font-size: $fz-h2;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: none;
  color: #6B6B6B;
}

.hero{
  display: flex;
  margin: 133px 128px;
  hr{
    background: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    width: 10%;
    margin-left: 0;
    margin-right: auto;
  }

  p{
    width: 70%;
    font-weight: 300;
  }
  img{
    border-radius: 50%;
    border: 5px solid white ;
    box-shadow: 3px 3px gray;
    height: 318px;
    width: 318px;
  }
  button{
    margin-top: 50px;
    width: 230px;
    height: 67px;
    border-radius: 10px;
    border: 1px solid gray;
    color: #6B6B6B;
    background-color:  #FFFFFF;
    position: relative;
  }
}
.separateur{
  position: absolute;
  width: 100%;
  height: 1px;
top:600px;
  left: 0;
  z-index: 3;
}

.info{
  h1{
    text-align: center;
  }
  hr{
    background: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-dessus{
    p{
      width: 40%;
      margin:40px auto;

      text-align: center;
      color: #6B6B6B;
      font-size: rem(20);
    }
  }


  .cartes{

    display: flex;
    margin-top: 30px;
    justify-content: center;
margin-bottom: 50px;
    .carte{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      color:white;

      i{

        height: 20px;
        color: white;
      }
      span{
        margin-top:20px;
        font-size: rem(24);
        font-weight: 300;
      }
      p{
        margin: 0;
        font-weight: 300;
      }
    }

    .carte:first-child{
      background-color: #efa8b0;
      border-radius: 10px 0 0 10px;
    }
    .carte:nth-child(2){
      background-color: #c79cc8;
    }

    .carte:nth-child(3){
      background-color: #a89cc8;
    }

    .carte:nth-child(4){
      background-color:#9bb2e1 ;
    }

    .carte:nth-child(5){
      background-color: #8cc9f0;
      border-radius: 0 10px 10px 0;
    }
  }

  .paragraphes{
    display: flex;
    justify-content: space-evenly;
    p{
      width: 34%;
      font-size: rem(18);
      color: #6B6B6B;
    }

  }
  button{
    border: 1px solid gray;
    color: #6B6B6B;
    background-color:  #FFFFFF;
    border-radius: 10px;
    width: 230px;
    height: 67px;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

}

@media screen and(min-width: 375px){


}



