// STYLE DE BASE DU WRAPPER

.wrapper{
  max-width: $max-width;
  margin: 0 auto;
}


// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper{
  display: grid;
  grid-template-columns: auto minmax($min-width, $max-width) auto;
  grid-column-gap: 30px;
}

.grid-center{
  grid-column: 2/3;
}

.fond{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #08121B 0%, #27416A 46.35%, #08121B 100%);;
  color:$color-nav-white;



}